.header {
    min-height: 0px;
}

.vivaldi {
    margin: 0;
}

.tab::after,
.tab::before {
    display: none;
}

.tab {
    border-radius: 4px !important;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 4px !important;
    min-height: 29px;
}

.tab.active {
    min-height: 29px;
}

.favicon {
    padding: 0;
}

#tabs-tabbar-container.top, .linux #tabs-tabbar-container.top,
.win.normal #tabs-tabbar-container.top, .linux.normal #tabs-tabbar-container.top {
    padding: 0 !important;
    padding-bottom: 4px;
    min-height: 34px;
}

.tabs-top.tabs-at-edge#browser.win:not(.fullscreen, .disable-titlebar) #header,
.tabs-top#browser.win:not(.fullscreen, .disable-titlebar) #header,
#browser.win:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc(34px / var(--uiZoomLevel)) !important;
}

#browser.color-behind-tabs-on .tab-position .tab.active.active {
    background-color: #42414d;
}

/**[Auto hide address bar]**/


/* .mainbar {
    height: 0px;
    transition: opacity .2s linear .1s, visibility 0s linear 1s;
} */


/**[Reveal on hover]**/

/* .UrlBar-UrlField:focus,
.mainbar:hover {
    height: 34px;
    transition-delay: 0s;
} */

/* .SearchField,
.UrlBar-AddressField {
    border-radius: var(--radius);
    border: 1px solid var(--colorBorder);
    color: var(--colorFg);
    background-color: var(--colorBgIntenser);
    align-items: center;
    display: flex;
}

#panels-container {

    display: flex;
    flex: 0 0 auto;
    max-width: 61.8%;
    overflow: visible;
    position: relative;
    color: var(--colorFg);
    border: 0px solid var(--colorBorder);
    border-right: 1px solid var(--colorBorder);
    background-color: var(--colorBgAlphaBlur);
    z-index: 1;
}

#panels-container.left:not(.icons) .panel-group,

#panels-container.left.icons:not(:has(.SlideBar)) {
    border-right: 1px solid var(--colorBorder);
} */